<h1>HOME PAGE</h1>
<ul>
{{#each products}}
    <li>Nombre: {{this.title}}</li>
    <li>descripcion: {{this.description}}</li>
    <li>Precio: {{this.price}}</li>
    <li>Codigo: {{this.code}}</li>
    <li>Stock: {{this.stock}}</li>
    <strong>imagenes</strong>
    <ul>
        
        {{#each thumbnail}}
        <li>{{this}}</li>
        {{/each}}

    </ul>
{{/each}}
</ul>