<div class="container">
  
{{#if email}}
  <h1>Bienvenido {{email}}</h1>
{{else}}
  <h1>Bienvenido - Invitado</h1>
{{/if}}

 <div class="logout-button-container">
  <a href="/api/sessions/logout">  
    <button class="btn btn-danger">Logout</button>
    </a>
  </div>

<h2>Listado de productos</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Code</th>
      <th scope="col">Stock</th>
      <th scope="col">Images</th>
      <th scope="col">Add to cart</th>
    </tr>
  </thead>
  <tbody>
    {{#each products.docs}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.description}}</td>
      <td>{{this.price}}</td>
      <td>{{this.code}}</td>
      <td>{{this.stock}}</td>
      <td>
        <ul>
          {{#each thumbnail}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </td>
      <td>   
    <button class="btn btn-dark" onclick="addToCart('{{this.id}}')">Add to Cart</button>

      </td></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
    </li>
{{#if products.prevLink}}
  <li class="page-item">
    <a class="page-link" id="prev" href={{products.prevLink}}>Previous</a>
  </li>
{{/if}}
{{#if products.nextLink}}
  <li class="page-item">
    <a class="page-link" id="next" href={{products.nextLink}}>Next</a>
  </li>
{{/if}}

    </li>
  </ul>
</nav>
</div>
<script src="/js/products.js"></script>
<link rel="stylesheet" href="/css/products.css">
